fastapi
uvicorn[standard]
motor
odmantic
python-jose[cryptography]
passlib[argon2]
argon2-cffi
python-multipart
aiofiles
cyclonedx-python-lib
pydantic
email-validator
fastapi-mail
httpx
packageurl-python
python-dotenv